.place__image {
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 824px) {
  .place__image {
    max-width: 340px;
  }
}
/*824-150=674*/
@media screen and (max-width: 674px) {
  .place__image {
    margin: 0 auto;
    max-width: 484px;
  }
}
