.place__image {
  max-width: 460px;
  width: 100%;
  /*justify-self: start;*/
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 677px) {
  .place__image {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    margin: 0 0 32px;
    max-width: 320px;
  }
}
