.footer__link {
  padding: 0;
  margin: 0 18px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .footer__link {
    padding: 12px 0 12px;
    font-size: 24px;
    line-height: 24px;
  }
}
