@media screen and (max-width: 1024px) {
  .adaptive-block {
    width: 90.625%; /*928px/1024px*100%*/
  }
}

@media screen and (max-width: 768px) {
  .adaptive-block {
    width: 93.75%; /*720px/768px*100%*/
  }
}

@media screen and (max-width: 350px) {
  .adaptive-block {
    width: 90%;
  }
}
