@media screen and (max-width: 768px) {
  .adaptive-block {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .adaptive-block {
    margin-left: 48px;
    margin-right: 48px;
  }
}
