.footer__copyright {
margin: 0;
padding: 0;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
