.header__container {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 56px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header__container {
    margin-bottom: 48px;
  }
}

/*
@media screen and (max-width: 768px) {
  .header__container {
    margin: 28px 0 48px;
  }
}*/

@media screen and (max-width: 350px) {
  .header__container {
    margin: 16px 0 48px;
  }
}
