.lead__caption {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}
