.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  /*justify-items: end;*/
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 400px) {
  .place {
    margin-bottom: 50px;
  }
}
