.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 484px));
  justify-content: space-between;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 984px;

  }
}
