.place__header {
  margin: 0 0 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  /*justify-self: start;*/
}

@media screen and (max-width: 768px) {
  .place__header {
    font-size: 42px;
    line-height: 46px;
    max-width: 328px;
  }
}

@media screen and (max-width: 712px) {
  .place__header {
    margin-bottom: 32px;
    min-width: 288px;
    justify-self: center;
  }
}

@media screen and (max-width: 380px) {
  .place__header {
    font-size: 32px;
    line-height: 35px;
  }
}
